<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "leti.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Laetitia Carquet</h1>
		<p>Welcome to week 2 of MacKenzie Child's 12 Web Apps in 12 Weeks Challenge.</p>
		<p>This week I built a blog in Rails 4.</p>
		<p>I am also currently learning Javascript and some cool stuff with D3.js.If you'd like to follow along my learning, find me on <a href="https://github.com/carquet">Github</a></p>
	</div>
</div>